{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "^express$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@\\/.*",
    "^[.]",
    "",
    "",
    "<TYPES>",
    "<TYPES><BUILT_IN_MODULES>",
    "<TYPES>^express$",
    "<TYPES><THIRD_PARTY_MODULES>",
    "<TYPES>^@/*",
    "<TYPES>^[.]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
